{% extends "auctions/layout.html" %}

{% block body %}

    <h2> Listings in {{ category }} </h2>

    {% for listing in listings %}

    <div style="padding: 1%;">
        <a href="{% url 'listing' listing.id %}">
            <div class="media" style="background-color: lightskyblue; padding: 3%;">
            
                {% if listing.picture %}
                <img src = {{ listing.picture }} height="100" >  
                {% endif%}
                <div class="media-body" style="padding: 1%;">
                    <h4> {{ listing.title }} </h4>
        
                    <h6>Current Bid: ${{ listing.getPrice }} </h6>
            
                    <p> {{ listing.description }} </p>
            
                </div>
              </div>
        </a>
    </div>

    {% empty %}
        <h5> There are currently no listings in this category. </h5>
    {% endfor %}

{% endblock %}